USE [master]
GO
/****** Object:  Database [CAMPUS_CONNECT]    Script Date: 27/04/2026 9:07:17 pm ******/
CREATE DATABASE [CAMPUS_CONNECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAMPUS_CONNECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CAMPUS_CONNECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAMPUS_CONNECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CAMPUS_CONNECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAMPUS_CONNECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAMPUS_CONNECT]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 27/04/2026 9:07:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ORDER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [bigint] NOT NULL,
	[DELIVERER_ID] [bigint] NULL,
	[SHOPKEEPER_ID] [bigint] NOT NULL,
	[PICKUP_POINT] [nvarchar](250) NOT NULL,
	[DESTINATION] [nvarchar](250) NULL,
	[PAYMENT_METHOD] [nvarchar](250) NOT NULL,
	[ORDER_STATUS] [nvarchar](250) NOT NULL,
	[SPECIAL_NOTES] [nvarchar](250) NULL,
	[ESTIMATED_TIME_MIN] [int] NOT NULL,
	[PAYMENT_STATUS] [nvarchar](250) NOT NULL,
	[ORDER_PICKUP_TYPE] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEM]    Script Date: 27/04/2026 9:07:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEM](
	[ORDER_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [bigint] NOT NULL,
	[PRODUCT_CATEGORY_ITEM_ID] [bigint] NOT NULL,
	[QUANTITY] [int] NULL,
	[UNIT_PRICE] [int] NULL,
	[DISCOUNT] [int] NULL,
 CONSTRAINT [PK_ORDER_ITEM] PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY]    Script Date: 27/04/2026 9:07:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY](
	[PRODUCT_CATEGORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[DATE_ADDED] [datetime] NOT NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_PRODUCT_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY_ITEM]    Script Date: 27/04/2026 9:07:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY_ITEM](
	[PRODUCT_CATEGORY_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CATEGORY_ID] [bigint] NOT NULL,
	[SHOPKEEPER_ID] [bigint] NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[PRICE] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[IMAGE_URL] [nvarchar](250) NULL,
	[PREPERATION_TIME_MINUTES] [int] NOT NULL,
	[IS_AVAILABLE] [bit] NOT NULL,
	[DATE_ADDED] [datetime] NOT NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_PRODUCT_CATEGORY_ITEM] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CATEGORY_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_ROLE]    Script Date: 27/04/2026 9:07:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_ROLE](
	[ROLE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](100) NOT NULL,
	[ROLE_DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYSTEM_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 27/04/2026 9:07:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](250) NOT NULL,
	[LAST_NAME] [nvarchar](250) NOT NULL,
	[EMAIL_ADDRES] [nvarchar](250) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[ROLE_NAME] [nvarchar](250) NOT NULL,
	[PHONE_NUMBER] [nvarchar](250) NOT NULL,
	[PROFILE_PICTURE_URL] [nvarchar](250) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[DATE_ADDED] [datetime] NOT NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ORDER] ON 

INSERT [dbo].[ORDER] ([ORDER_ID], [CUSTOMER_ID], [DELIVERER_ID], [SHOPKEEPER_ID], [PICKUP_POINT], [DESTINATION], [PAYMENT_METHOD], [ORDER_STATUS], [SPECIAL_NOTES], [ESTIMATED_TIME_MIN], [PAYMENT_STATUS], [ORDER_PICKUP_TYPE]) VALUES (2, 10002, 0, 1, N'Canteen', N'Library', N'Cash on delivery', N'Delivered', N'Katchup add', 30, N'Paid', N'Delivery')
INSERT [dbo].[ORDER] ([ORDER_ID], [CUSTOMER_ID], [DELIVERER_ID], [SHOPKEEPER_ID], [PICKUP_POINT], [DESTINATION], [PAYMENT_METHOD], [ORDER_STATUS], [SPECIAL_NOTES], [ESTIMATED_TIME_MIN], [PAYMENT_STATUS], [ORDER_PICKUP_TYPE]) VALUES (3, 10002, NULL, 1, N'Cafeteria', NULL, N'Cash on delivery', N'Completed', N'Testing', 30, N'Paid', N'Pickup')
INSERT [dbo].[ORDER] ([ORDER_ID], [CUSTOMER_ID], [DELIVERER_ID], [SHOPKEEPER_ID], [PICKUP_POINT], [DESTINATION], [PAYMENT_METHOD], [ORDER_STATUS], [SPECIAL_NOTES], [ESTIMATED_TIME_MIN], [PAYMENT_STATUS], [ORDER_PICKUP_TYPE]) VALUES (5, 10002, 2, 1, N'Cafe', N'Groud', N'Cash on delivery', N'Delivered', N'It should be cold', 30, N'Paid', N'Delivery')
SET IDENTITY_INSERT [dbo].[ORDER] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] ON 

INSERT [dbo].[ORDER_ITEM] ([ORDER_ITEM_ID], [ORDER_ID], [PRODUCT_CATEGORY_ITEM_ID], [QUANTITY], [UNIT_PRICE], [DISCOUNT]) VALUES (3, 2, 2, 1, 110, 0)
INSERT [dbo].[ORDER_ITEM] ([ORDER_ITEM_ID], [ORDER_ID], [PRODUCT_CATEGORY_ITEM_ID], [QUANTITY], [UNIT_PRICE], [DISCOUNT]) VALUES (4, 2, 5, 1, 400, 0)
INSERT [dbo].[ORDER_ITEM] ([ORDER_ITEM_ID], [ORDER_ID], [PRODUCT_CATEGORY_ITEM_ID], [QUANTITY], [UNIT_PRICE], [DISCOUNT]) VALUES (5, 3, 1, 2, 100, 0)
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_CATEGORY] ON 

INSERT [dbo].[PRODUCT_CATEGORY] ([PRODUCT_CATEGORY_ID], [NAME], [DESCRIPTION], [IS_ACTIVE], [DATE_ADDED], [DATE_UPDATED]) VALUES (1, N'Drinks', N'It contians drink.', 1, CAST(N'2026-04-18T15:24:48.587' AS DateTime), NULL)
INSERT [dbo].[PRODUCT_CATEGORY] ([PRODUCT_CATEGORY_ID], [NAME], [DESCRIPTION], [IS_ACTIVE], [DATE_ADDED], [DATE_UPDATED]) VALUES (2, N'Food', N'It contians eatables.', 1, CAST(N'2026-04-18T15:25:22.150' AS DateTime), NULL)
INSERT [dbo].[PRODUCT_CATEGORY] ([PRODUCT_CATEGORY_ID], [NAME], [DESCRIPTION], [IS_ACTIVE], [DATE_ADDED], [DATE_UPDATED]) VALUES (4, N'Cigretes', N'It contians eatables.', 1, CAST(N'2026-04-18T15:26:37.773' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PRODUCT_CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_CATEGORY_ITEM] ON 

INSERT [dbo].[PRODUCT_CATEGORY_ITEM] ([PRODUCT_CATEGORY_ITEM_ID], [PRODUCT_CATEGORY_ID], [SHOPKEEPER_ID], [NAME], [PRICE], [QUANTITY], [IMAGE_URL], [PREPERATION_TIME_MINUTES], [IS_AVAILABLE], [DATE_ADDED], [DATE_UPDATED]) VALUES (1, 1, 1, N'Coca cola', 100, 0, N'localasset:softDrink', 5, 1, CAST(N'2026-04-18T15:49:04.387' AS DateTime), CAST(N'2026-04-26T07:48:22.670' AS DateTime))
INSERT [dbo].[PRODUCT_CATEGORY_ITEM] ([PRODUCT_CATEGORY_ITEM_ID], [PRODUCT_CATEGORY_ID], [SHOPKEEPER_ID], [NAME], [PRICE], [QUANTITY], [IMAGE_URL], [PREPERATION_TIME_MINUTES], [IS_AVAILABLE], [DATE_ADDED], [DATE_UPDATED]) VALUES (2, 1, 1, N'Pepsi', 110, 2, N'localasset:softDrink', 5, 1, CAST(N'2026-04-18T15:50:03.660' AS DateTime), CAST(N'2026-04-27T06:22:50.570' AS DateTime))
INSERT [dbo].[PRODUCT_CATEGORY_ITEM] ([PRODUCT_CATEGORY_ITEM_ID], [PRODUCT_CATEGORY_ID], [SHOPKEEPER_ID], [NAME], [PRICE], [QUANTITY], [IMAGE_URL], [PREPERATION_TIME_MINUTES], [IS_AVAILABLE], [DATE_ADDED], [DATE_UPDATED]) VALUES (3, 1, 1, N'Marinda', 100, 5, N'localasset:softDrink', 5, 1, CAST(N'2026-04-18T15:50:13.770' AS DateTime), CAST(N'2026-04-26T07:48:08.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[PRODUCT_CATEGORY_ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[SYSTEM_ROLE] ON 

INSERT [dbo].[SYSTEM_ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_DESCRIPTION]) VALUES (1, N'SUPER_ADMIN', N'This i')
INSERT [dbo].[SYSTEM_ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_DESCRIPTION]) VALUES (2, N'SHOPKEEPER', N'shop')
INSERT [dbo].[SYSTEM_ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_DESCRIPTION]) VALUES (3, N'CUSTOMER', N'cus')
SET IDENTITY_INSERT [dbo].[SYSTEM_ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([USER_ID], [FIRST_NAME], [LAST_NAME], [EMAIL_ADDRES], [PASSWORD], [ROLE_NAME], [PHONE_NUMBER], [PROFILE_PICTURE_URL], [IS_ACTIVE], [DATE_ADDED], [DATE_UPDATED]) VALUES (1, N'Umar', N'Ali', N'umaralifarooq007@gmail.com', N'OlwHFmS6NIh9mMfVPKp/mzeHkg/hVPGf00ymf+HctNc=', N'SHOPKEEPER', N'03360564009', N'string', 1, CAST(N'2026-04-04T18:50:05.540' AS DateTime), CAST(N'2026-04-24T12:52:53.293' AS DateTime))
INSERT [dbo].[USER] ([USER_ID], [FIRST_NAME], [LAST_NAME], [EMAIL_ADDRES], [PASSWORD], [ROLE_NAME], [PHONE_NUMBER], [PROFILE_PICTURE_URL], [IS_ACTIVE], [DATE_ADDED], [DATE_UPDATED]) VALUES (2, N'Zainab', N'Abbas', N'zainab@example.com', N'5bECoT0RxtS07SrZQ0+SDIzDxpbXeMvD+ymJU4+s8no=', N'DELIVERER', N'03360599565', N'string', 1, CAST(N'2026-04-18T16:15:45.537' AS DateTime), NULL)
INSERT [dbo].[USER] ([USER_ID], [FIRST_NAME], [LAST_NAME], [EMAIL_ADDRES], [PASSWORD], [ROLE_NAME], [PHONE_NUMBER], [PROFILE_PICTURE_URL], [IS_ACTIVE], [DATE_ADDED], [DATE_UPDATED]) VALUES (10002, N'Fakhar', N'Raja', N'fak@raja.com', N'La+BbOeuP6RcpQr5m2TXiTFfdKDtlgYS8UnuXj/+BbI=', N'CUSTOMER', N'0336054699', NULL, 1, CAST(N'2026-04-24T14:08:38.807' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
USE [master]
GO
